---
import AlbumTitle from '@components/AlbumTitle.astro';
---

<html>
  <head>
    <title>Album Title Preview</title>
  </head>
  <body>
    <h1>Album Title Component Preview</h1>
    <AlbumTitle />
  </body>
</html>
