---
import AmateurPhotographerSection from '@components/AmateurPhotographerSection.astro';
---

<html>
  <head>
    <title>Amateur Photographer Section Preview</title>
  </head>
  <body>
    <h1>Amateur Photographer Section Component Preview</h1>
    <AmateurPhotographerSection />
  </body>
</html>
