---
import { ArtworkListByCamp as ArtworkListByCampComponent, type ArtworkListByCampProps } from '@components/ArtworkListByCamp';

---

<html>
  <head>
    <title>Artwork List By Camp Preview</title>
  </head>
  <body>
    <h1>Artwork List By Camp Component Preview</h1>
    <ArtworkListByCampComponent  />
  </body>
</html>
