---
import { CampResearchData } from '@components/CampResearchData.jsx';
---

<html>
  <head>
    <title>Camp Research Data Preview</title>
  </head>
  <body>
    <h1>Camp Research Data Component Preview</h1>
    <CampResearchData />
  </body>
</html>
