---
import ContrabandSection from '@components/ContrabandSection.astro';
---

<html>
  <head>
    <title>Contraband Section Preview</title>
  </head>
  <body>
    <h1>Contraband Section Component Preview</h1>
    <ContrabandSection />
  </body>
</html>
