---
import ContentSection from '@components/ContentSection.astro';
---

<html>
  <head>
    <title>Content Section Preview</title>
  </head>
  <body>
    <h1>Content Section Component Preview</h1>
    <ContentSection />
  </body>
</html>
