---
import Contraband from '@components/Contraband.astro';
---

<html>
  <head>
    <title>Contraband Preview</title>
  </head>
  <body>
    <h1>Contraband Component Preview</h1>
    <Contraband />
  </body>
</html>
