---
import DocumentSelector from '@components/DocumentSelector.tsx';
---

<html>
  <head>
    <title>Document Selector Preview</title>
  </head>
  <body>
    <h1>Document Selector Component Preview</h1>
    <DocumentSelector />
  </body>
</html>
