---
import DonorBox from '@components/DonorBox.astro';
---

<html>
  <head>
    <title>Donor Box Preview</title>
  </head>
  <body>
    <h1>Donor Box Component Preview</h1>
    <DonorBox />
  </body>
</html>
