---
import ExhibitionImage from '@components/ExhibitionImage.astro';
---

<html>
  <head>
    <title>Exhibition Image Preview</title>
  </head>
  <body>
    <h1>Exhibition Image Component Preview</h1>
    <ExhibitionImage />
  </body>
</html>
