---
import ExhibitionInfo from '@components/ExhibitionInfo.astro';
---

<html>
  <head>
    <title>Exhibition Info Preview</title>
  </head>
  <body>
    <h1>Exhibition Info Component Preview</h1>
    <ExhibitionInfo />
  </body>
</html>
