---
import FamilyAlbumIntro from '@components/FamilyAlbumIntro.astro';
---

<html>
  <head>
    <title>Family Album Intro Preview</title>
  </head>
  <body>
    <h1>Family Album Intro Component Preview</h1>
    <FamilyAlbumIntro />
  </body>
</html>
