---
import FamilyAlbumSection from '@components/FamilyAlbumSection.astro';
---

<html>
  <head>
    <title>Family Album Section Preview</title>
  </head>
  <body>
    <h1>Family Album Section Component Preview</h1>
    <FamilyAlbumSection />
  </body>
</html>
