---
import FloatingImage from '@components/FloatingImage.astro';
---

<html>
  <head>
    <title>Floating Image Preview</title>
  </head>
  <body>
    <h1>Floating Image Component Preview</h1>
    <FloatingImage />
  </body>
</html>
