---
import FontLoader from '@components/FontLoader.astro';
---

<html>
  <head>
    <title>Font Loader Preview</title>
  </head>
  <body>
    <h1>Font Loader Component Preview</h1>
    <FontLoader />
  </body>
</html>
