---
import GlobalStyles from '@components/GlobalStyles.astro';
---

<html>
  <head>
    <title>Global Styles Preview</title>
  </head>
  <body>
    <h1>Global Styles Component Preview</h1>
    <GlobalStyles />
  </body>
</html>
