---
import HamburgerMenu from '@components/HamburgerMenu.tsx';
---

<html>
  <head>
    <title>Hamburger Menu Preview</title>
  </head>
  <body>
    <h1>Hamburger Menu Component Preview</h1>
    <HamburgerMenu />
  </body>
</html>
