---
import HamburgerMenuIcon from '@components/HamburgerMenuIcon.tsx';
---

<html>
  <head>
    <title>Hamburger Menu Icon Preview</title>
  </head>
  <body>
    <h1>Hamburger Menu Icon Component Preview</h1>
    <HamburgerMenuIcon />
  </body>
</html>
