---
import { HistoricalContextReact } from '@components/HistoricalContextReact.tsx';
---

<html>
  <head>
    <title>Historical Context React Preview</title>
  </head>
  <body>
    <h1>Historical Context React Component Preview</h1>
    <HistoricalContextReact />
  </body>
</html>
