---
import HistoricalContext from '@components/HistoricalContext.astro';
---

<html>
  <head>
    <title>Historical Context Preview</title>
  </head>
  <body>
    <h1>Historical Context Component Preview</h1>
    <HistoricalContext />
  </body>
</html>
