---
import HistoricalContextMap from '@components/HistoricalContextMap.astro';
---

<html>
  <head>
    <title>Historical Context Map Preview</title>
  </head>
  <body>
    <h1>Historical Context Map Component Preview</h1>
    <HistoricalContextMap />
  </body>
</html>
