---
import HistoricalDocument from '@components/HistoricalDocument.tsx';
---

<html>
  <head>
    <title>Historical Document Preview</title>
  </head>
  <body>
    <h1>Historical Document Component Preview</h1>
    <HistoricalDocument />
  </body>
</html>
