---
import HoverImage from '@components/HoverImage.astro';
---

<html>
  <head>
    <title>Hover Image Preview</title>
  </head>
  <body>
    <h1>Hover Image Component Preview</h1>
    <HoverImage />
  </body>
</html>
