---
import ImageGallery from '@components/ImageGallery.astro';
---

<html>
  <head>
    <title>Image Gallery Preview</title>
  </head>
  <body>
    <h1>Image Gallery Component Preview</h1>
    <ImageGallery />
  </body>
</html>
