---
import InterneePhotographerSection from '@components/InterneePhotographerSection.astro';
---

<html>
  <head>
    <title>Internee Photographer Section Preview</title>
  </head>
  <body>
    <h1>Internee Photographer Section Component Preview</h1>
    <InterneePhotographerSection />
  </body>
</html>
