---
import InternmentCampLinks from '@components/InternmentCampLinks.astro';
---

<html>
  <head>
    <title>Internment Camp Links Preview</title>
  </head>
  <body>
    <h1>Internment Camp Links Component Preview</h1>
    <InternmentCampLinks />
  </body>
</html>
