---
import Introduction from '@components/Introduction.astro';
---

<html>
  <head>
    <title>Introduction Preview</title>
  </head>
  <body>
    <h1>Introduction Component Preview</h1>
    <Introduction />
  </body>
</html>
