---
import JapaneseAmericanInternmentCamps from '@components/Japanese-American-Internment-Camps.astro';
---

<html>
  <head>
    <title>Japanese American Internment Camps Preview</title>
  </head>
  <body>
    <h1>Japanese American Internment Camps Component Preview</h1>
    <JapaneseAmericanInternmentCamps />
  </body>
</html>
