---
import MapComponent from '@components/MapComponent.astro';
---

<html>
  <head>
    <title>Map Component Preview</title>
  </head>
  <body>
    <h1>Map Component Preview</h1>
    <MapComponent />
  </body>
</html>
