---
import MobileNav from '@components/MobileNav.astro';
---

<html>
  <head>
    <title>Mobile Nav Preview</title>
  </head>
  <body>
    <h1>Mobile Nav Component Preview</h1>
    <MobileNav />
  </body>
</html>
