---
import MonumentImage3 from '@components/MonumentImage3.astro';
---

<html>
  <head>
    <title>Monument Image 3 Preview</title>
  </head>
  <body>
    <h1>Monument Image 3 Component Preview</h1>
    <MonumentImage3 />
  </body>
</html>
