---
import MonumentImage2 from '@components/MonumentImage2.astro';
---

<html>
  <head>
    <title>Monument Image 2 Preview</title>
  </head>
  <body>
    <h1>Monument Image 2 Component Preview</h1>
    <MonumentImage2 />
  </body>
</html>
