---
import MonumentImage from '@components/MonumentImage.astro';
---

<html>
  <head>
    <title>Monument Image Preview</title>
  </head>
  <body>
    <h1>Monument Image Component Preview</h1>
    <MonumentImage />
  </body>
</html>
