---
import NarrativeText from '@components/NarrativeText.astro';
---

<html>
  <head>
    <title>Narrative Text Preview</title>
  </head>
  <body>
    <h1>Narrative Text Component Preview</h1>
    <NarrativeText />
  </body>
</html>
