---
import Navigation from '@components/Navigation.astro';
---

<html>
  <head>
    <title>Navigation Preview</title>
  </head>
  <body>
    <h1>Navigation Component Preview</h1>
    <Navigation />
  </body>
</html>
