---
import Overview from '@components/Overview.tsx';
---

<html>
  <head>
    <title>Overview Preview</title>
  </head>
  <body>
    <h1>Overview Component Preview</h1>
    <Overview />
  </body>
</html>
