---
import PersistentDonateButton from '@components/PersistentDonateButton.astro';
---

<html>
  <head>
    <title>Persistent Donate Button Preview</title>
  </head>
  <body>
    <h1>Persistent Donate Button Component Preview</h1>
    <PersistentDonateButton />
  </body>
</html>
