---
import PhotographerPageLayout from '@components/PhotographerPageLayout.astro';
---

<html>
  <head>
    <title>Photographer Page Layout Preview</title>
  </head>
  <body>
    <h1>Photographer Page Layout Component Preview</h1>
    <PhotographerPageLayout />
  </body>
</html>
