---
import PhotoGallery from '@components/PhotoGallery.astro';
---

<html>
  <head>
    <title>Photo Gallery Preview</title>
  </head>
  <body>
    <h1>Photo Gallery Component Preview</h1>
    <PhotoGallery />
  </body>
</html>
