---
import PhotographerProfile from '@components/PhotographerProfile.astro';
---

<html>
  <head>
    <title>Photographer Profile Preview</title>
  </head>
  <body>
    <h1>Photographer Profile Component Preview</h1>
    <PhotographerProfile />
  </body>
</html>
