---
import PhotographerNavigation from '@components/PhotographerNavigation.astro';
---

<html>
  <head>
    <title>Photographer Navigation Preview</title>
  </head>
  <body>
    <h1>Photographer Navigation Component Preview</h1>
    <PhotographerNavigation />
  </body>
</html>
