---
import PhotographerBanner from '@components/PhotographerBanner.astro';
---

<html>
  <head>
    <title>Photographer Banner Preview</title>
  </head>
  <body>
    <h1>Photographer Banner Component Preview</h1>
    <PhotographerBanner />
  </body>
</html>
