---
import PhotographerCard from '@components/PhotographerCard.astro';
---

<html>
  <head>
    <title>Photographer Card Preview</title>
  </head>
  <body>
    <h1>Photographer Card Component Preview</h1>
    <PhotographerCard />
  </body>
</html>
