---
import ResearchImage from '@components/ResearchImage.astro';
---

<html>
  <head>
    <title>Research Image Preview</title>
  </head>
  <body>
    <h1>Research Image Component Preview</h1>
    <ResearchImage />
  </body>
</html>
