---
import ResearchData from '@components/ResearchData.astro';
---

<html>
  <head>
    <title>Research Data Preview</title>
  </head>
  <body>
    <h1>Research Data Component Preview</h1>
    <ResearchData />
  </body>
</html>
