---
import SectionHeader2 from '@components/SectionHeader2.astro';
---

<html>
  <head>
    <title>Section Header 2 Preview</title>
  </head>
  <body>
    <h1>Section Header 2 Component Preview</h1>
    <SectionHeader2 />
  </body>
</html>
