---
import SectionHeader from '@components/SectionHeader.astro';
---

<html>
  <head>
    <title>Section Header Preview</title>
  </head>
  <body>
    <h1>Section Header Component Preview</h1>
    <SectionHeader />
  </body>
</html>
