---
import SectionHeader3 from '@components/SectionHeader3.astro';
---

<html>
  <head>
    <title>Section Header 3 Preview</title>
  </head>
  <body>
    <h1>Section Header 3 Component Preview</h1>
    <SectionHeader3 />
  </body>
</html>
