---
import SectionHeaderReact from '@components/SectionHeaderReact.tsx';
---

<html>
  <head>
    <title>Section Header React Preview</title>
  </head>
  <body>
    <h1>Section Header React Component Preview</h1>
    <SectionHeaderReact />
  </body>
</html>
