---
import SectionHeader4 from '@components/SectionHeader4.astro';
---

<html>
  <head>
    <title>Section Header 4 Preview</title>
  </head>
  <body>
    <h1>Section Header 4 Component Preview</h1>
    <SectionHeader4 />
  </body>
</html>
