---
import Slideshow from '@components/Slideshow.astro';
---

<html>
  <head>
    <title>Slideshow Preview</title>
  </head>
  <body>
    <h1>Slideshow Component Preview</h1>
    <Slideshow />
  </body>
</html>
