---
import HeroLayout from '@layouts/HeroLayout.astro';
import About from '@components/pages/About';

const rameswaramData = {
  cloudinaryId: "sacred-architectures/rameswaram-1_baqkjr",
  title: "Rameswaram Temple",
  media: "Panoramic Photo Collage",
  year: "1995",
  city: "Rameswaram",
  state: "Tamil Nadu",
  country: "India",
  size: '41" x 23"',
};

---

<HeroLayout 
  title="About Masumi Hayashi" 
  description="Learn about the life and work of Masumi Hayashi"
  heroImage={rameswaramData}
>
  <div class="container mx-auto px-4 py-8">
    <About client:load />
  </div>
</HeroLayout>