---
import Layout from "../layouts/Layout.astro";
import AudioPlayerComponent from "../components/audio-player";

const audioFiles = [
  {
    title: "All American Boy...",
    src: "/audio/JACCampsMP3/camps.01.mp3",
    oggSrc: "/audio/JACCampsOgg/camps.01.ogg",
    excerpt: "All American Boy...",
  },
  {
    title: "Angry Man...",
    src: "/audio/JACCampsMP3/camps.02.mp3",
    oggSrc: "/audio/JACCampsOgg/camps.02.ogg",
    excerpt: "Angry Man...",
  },
  {
    title: "What would you do if we deported you?",
    src: "/audio/JACCampsMP3/camps.03.mp3",
    oggSrc: "/audio/JACCampsOgg/camps.03.ogg",
    excerpt: "What would you do if we deported you?",
  },
  {
    title: "Everyone just believed in the government...",
    src: "/audio/JACCampsMP3/camps.04.mp3",
    oggSrc: "/audio/JACCampsOgg/camps.04.ogg",
    excerpt: "Everyone just believed in the government...",
  },
  {
    title: "We are American citizens and had nothing to do with Pearl Harbor",
    src: "/audio/JACCampsMP3/camps.05.mp3",
    oggSrc: "/audio/JACCampsOgg/camps.05.ogg",
    excerpt: "We are American citizens and had nothing to do with Pearl Harbor",
  },
  {
    title: "We were being treated like the enemy...",
    src: "/audio/JACCampsMP3/camps.06.mp3",
    oggSrc: "/audio/JACCampsOgg/camps.06.ogg",
    excerpt: "We were being treated like the enemy...",
  },
  {
    title: "No future for my children?...",
    src: "/audio/JACCampsMP3/camps.07.mp3",
    oggSrc: "/audio/JACCampsOgg/camps.07.ogg",
    excerpt: "No future for my children?...",
  },
  {
    title: "Rehabilitation",
    src: "/audio/JACCampsMP3/camps.08.mp3",
    oggSrc: "/audio/JACCampsOgg/camps.08.ogg",
    excerpt: "Rehabilitation",
  },
  {
    title: "If I can get through that...",
    src: "/audio/JACCampsMP3/camps.09.mp3",
    oggSrc: "/audio/JACCampsOgg/camps.09.ogg",
    excerpt: "If I can get through that...",
  },
];
---

<Layout title="Internee Audio Interviews | Masumi Hayashi">
  <main class="container mx-auto px-4 flex justify-center items-center">
    <div class="prose prose-sm sm:prose lg:prose-lg">
      <h1>Japanese American Internee Audio Interviews</h1>
      <p>
        Listen to firsthand accounts from Japanese American internees about
        their experiences during World War II.
      </p>
    </div>
  </main>

  <AudioPlayerComponent
    client:load
    audioFiles={audioFiles.map((file) => ({ ...file, url: file.src }))}
  />
</Layout>
