---
import MapComponent from '../components/MapComponent.astro';
---

<html>
  <head>
    <title>Map Page</title>
  </head>
  <body>
    <h1>Map of Japanese American Internment Camps</h1>
    <MapComponent />
  </body>
</html>
