---
interface Props {
    campaignSlug?: string;
    language?: string;
    height?: string;
}

const {
    campaignSlug = "preserve-masumi-hayashi-s-artistic-and-cultural-legacy",
    language = "en-us",
    height = "900px"
} = Astro.props;

const donorboxUrl = `https://donorbox.org/embed/${campaignSlug}?language=${language}`;
---

<div class="w-full flex justify-center">
    <script src="https://donorbox.org/widget.js" data-paypalexpress="false" is:inline></script>
    <iframe 
        src={donorboxUrl}
        name="donorbox"
        loading="lazy"
        frameborder="0"
        height={height}
        width="100%"
        style="max-width: 500px; min-width: 310px; max-height:none!important"
        allow="payment"
    />
</div>
