---
// component imports
import Link from "./Link.astro";

// data imports
// import navData from "../data/navData";

const navData = [
  {
    name: "Internment Camps Gallery",
    path: "/artwork/internment-camps/",
  },
  {
    name: "Family Album",
    path: "/family-album-project/",
  },
  // {
  //   name: "Research",
  //   path: "/research/",
  // },
  {
    name: "Artist Statement",
    path: "/artist-statement/",
  },
  {
    name: "About",
    path: "/about/",
  },
];
---

<nav
  class="flex justify-between items-between py-4 mx-auto"
  aria-label="Primary"
  style="max-width: 1440px;"
>
  <div class="logo ml-6 md:ml-24">
    <a href="/" class="text-xl" aria-label="Go home">MASUMI HAYASHI </a>
  </div>
  <ul
    class="nav-links flex flex-row space-between items-center md:space-x-4 mr-2 md:mr-24"
  >
    {
      navData.map((item) => (
        <Link
          text={item.name}
          href={item.path}
          style="primary"
          isFilled={false}
          data-navLink
          classes="text-sm mr-6 md:text-base"
        />
      ))
    }
  </ul>
</nav>
