---
import MainHead from "./MainHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

const {
  title = "Masumi Hayashi",
  description = "Masumi Hayashi's panoramic photocollage artwork dealing with the Japanese American Internment Camps",
  classes = "",
} = Astro.props;
---

<html lang="en">
  <MainHead title={title} description={description} />
  <body class="bg-gradient-to-b from-gray-900 to-gray-800 text-gray-100 text-md font-sans min-h-screen">
    <div class={`flex flex-col min-h-screen ${classes}`}>
      <Header />
      <main class="flex-grow bg-gradient-to-b from-gray-900 to-gray-800 pb-20">
        <slot> Default text for unnamed slot </slot>
      </main>
      <Footer class="mt-auto" />
    </div>
  </body>
</html>
