---
import MainHead from "./MainHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FontLoader from "../components/FontLoader.astro";

const {
  title = "Masumi Hayashi",
  description = "Masumi Hayashi's panoramic photocollage artwork dealing with the Japanese American Internment Camps",
  classes = "",
} = Astro.props;
---

<html lang="en">
  <MainHead title={title} description={description}>
    <FontLoader />
  </MainHead>
  <body class="bg-white text-fa-text-secondary font-montserrat min-h-screen">
    <div class={`flex flex-col min-h-screen ${classes}`}>
      <Header />
      <main class="flex-grow">
        <slot> Default text for unnamed slot </slot>
      </main>
      <Footer class="mt-auto" />
    </div>
  </body>
</html>
