---
import Header from "../components/Header.astro";
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import FontLoader from "../components/FontLoader.astro";
import { fade } from "astro:transitions";
---

<html lang="en" transition:animate="none">
  <MainHead>
    <FontLoader />
  </MainHead>
  <body class="bg-museum-black text-fa-text-secondary font-inter w-screen">
    <!-- scroll container -->
    <div
      class="overflow-y-scroll snap-y snap-mandatory h-screen bg-museum-black"
      transition:animate={fade({ duration: ".75s" })}
    >
      <Header classes="snap-item snap-start" />

      <main class="bg-museum-black min-h-screen">
        <slot />
      </main>
      <Footer classes="snap-item snap-start mt-16" />
    </div>

    <style>
      footer {
        @apply fixed bottom-0 h-16; /* Adjust the h-16 value based on your footer's height */
      }
    </style>
  </body>
</html>
