---
import Layout from "@layouts/Layout.astro";
import Typography from "@components/Typography.astro";

---

<Layout title="Bibliography | Masumi Hayashi">
  <div class="max-w-4xl mx-auto px-4 py-12">
    <Typography variant="section-title">
      <h1>Bibliography</h1>
    </Typography>

    <div class="prose prose-lg mt-8">
      <h2>Books and Publications</h2>
      <ul>
        <li>Hayashi, Masumi. "American Concentration Camps." Cleveland State University Art Gallery, 1990.</li>
        <li>Daniels, Roger. "Concentration Camps USA: Japanese Americans and World War II." Holt, Rinehart and Winston, 1971.</li>
        <li>Robinson, Greg. "By Order of the President: FDR and the Internment of Japanese Americans." Harvard University Press, 2001.</li>
      </ul>

      <h2>Articles and Essays</h2>
      <ul>
        <li>Hayashi, Masumi. "Photography and Memory: The Visual Documentation of Japanese American Internment." Journal of American History, vol. 82, no. 2, 1995.</li>
        <li>Alinder, Jasmine. "Moving Images: Photography and the Japanese American Incarceration." University of Illinois Press, 2009.</li>
      </ul>

      <h2>Online Resources</h2>
      <ul>
        <li>Japanese American National Museum - <a href="http://www.janm.org" class="text-blue-600 hover:text-blue-800">www.janm.org</a></li>
        <li>Densho: The Japanese American Legacy Project - <a href="http://www.densho.org" class="text-blue-600 hover:text-blue-800">www.densho.org</a></li>
      </ul>
    </div>
  </div>
</Layout>
